@use './bootstrap';
@import '_variables';
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/josefin-sans";



ul,ol{
    list-style: none;
}

a{
    color: inherit;
    &:hover{
        color: inherit;
    }
}

body{
     font-family: "Josefin Sans", sans-serif;
    }

button{
    outline: 0px;
    border: 0px;
}


@media only screen and (min-width: 581px){

.active{
    position: relative;
    top: 0;
    &::after{
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translate(-50%);
    }
}
}
// .exactive{
//     color: yellowgreen;
// }
